<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="toggleOpen()" color="migros">
    <ion-icon name="cube"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="slide-menu" [ngClass]="{'is-open': isOpen, 'is-item-preview': selectedItem !== null}">
  <ion-fab-button class="open-button" (click)="toggleOpen()" *ngIf="selectedItem === null" color="migros">
    <ion-icon name="close" size="large"></ion-icon>
  </ion-fab-button>
  <div *ngIf="selectedItem !== null">
    <p class="item-amount">{{selectedItem.amount}}</p>
    <div
      class="selected-item-view"
      [ngStyle]="{backgroundImage:  selectedItem !== null ? 'url(../../../assets/items/'+ selectedItem.item.type +'-' + selectedItem.item.level +'.png)' : ''}">
    </div>
    <ion-icon name="close-outline" size="large" class="cancel-selection-button" (click)="deleteSelectedItem()"></ion-icon>
  </div>

    <div class="item-grid">
      <div *ngFor="let itemStash of itemsAvailable"
           class="grid-item"
           [ngStyle]="{backgroundImage:  'url(../../../assets/items/'+ itemStash.item.type +'-' + itemStash.item.level +'.png)'}"
           (click)="setSelectedItem(itemStash.item.id)">
        {{itemStash.amount}}
      </div>
  </div>
</div>
