
<div class="slide-menu" [ngClass]="{'is-open': isOpen, 'is-item-preview': selectedItem !== null}">
  <a class="open-button" (click)="toggleOpen()" *ngIf="selectedItem === null">
    <ion-icon [name]="isOpen ? 'chevron-down' : 'chevron-up'" size="large"></ion-icon>
  </a>

  <div *ngIf="selectedItem !== null">
    <div
      class="selected-item-view"
      [ngStyle]="{backgroundImage:  selectedItem !== null ? 'url(../../../assets/items/'+ selectedItem.type +'-' + selectedItem.level +'.png)' : ''}">
    </div>
    <ion-icon name="close-outline" size="large" class="cancel-selection-button" (click)="selectedItem = null"></ion-icon>
  </div>

  <div class="categories-container">
    <div class="item-grid" *ngFor="let category of itemsAvailable">
      <div *ngFor="let item of category.items"
           class="grid-item"
           [ngStyle]="{backgroundImage:  'url(../../../assets/items/'+ item.type +'-' + item.level +'.png)'}"
           (click)="setSelectedItem(item.id)"
      >
      </div>
  </div>
  </div>
</div>
