@import '../../../global';

.slide-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin-left: -15vw;
  margin-right: -15vw;
  width: 30vw;
  height: 60vh;
  background-color: $colorOrange;
  justify-content: space-around;
  transform: translateY(52vh);
  transition: 400ms;
  border-radius: 20px;
  text-align: center;
  overflow: scroll;
  box-shadow: 3px -3px 3px $colorBlackTransparent;

  &.is-open {
    transform: translateY(0);
    width: 100vw;
    left: 0;
    right: auto;
    margin: 0;
    border-radius: 10px;
    animation-duration: 200ms;
    animation-name: slider-change;

    .item-grid {
      display: flex;
      flex-wrap: wrap;

      .category-label {
        width: 100vh;
        color: white;
        font-size: 20px;
      }
    }
  }

  &.is-item-preview {
    transform: translateY(calc(55vh - 35vw));
    width: 25vw;
    left: 50%;
    right: 50%;
    margin-left: -12.5vw;
    margin-right: -12.5vw;
  }

  .selected-item-view {
    height: 25vw;
    width: 25vw;
    background-color: $colorBlackTransparent;
    background-size: cover;
  }

  .cancel-selection-button {
    color: white;
  }

  @keyframes slider-change {
    from {
      transform: translateY(52vh);
    }

    50% {
      left: 0;
      right: auto;
      margin: 0;
      width: 100vw;
      transform: translateY(55vh);
      transition: 200ms;
    }

    to {
      width: 100vw;
      transform: translateY(0);
      transition: 200ms;
    }
  }
}

.open-button {
  color: white;
  margin: auto;
}

.item-grid {
  display: none;
  flex-grow: 0;
  padding: 0;
  border-radius: 4px;
  width: 100vw;
}

.grid-item {
  height: 25vw;
  width: 25vw;
  border: 2px dashed $colorGrayTransparent;
  border-collapse: collapse;
  background-color: $colorBlackTransparent;
  background-size: cover;
}

.item-amount {
  color: white;
  margin: 0;
  font-size: 22px;
}

