<ion-header>
  <ion-toolbar color="migros">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Capture your Migros Receipt</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!isProcessing && !receiptContents">
  <ion-card>
    <ion-card-content>
      <p align="center">You want more seeds and animals? Here we go!</p>
      <p>&nbsp;</p>
      <p align="center">Make a photo of your Bon and see if you're lucky.</p>
      <p>&nbsp;</p>
      <p align="center">Tip: Watch out for high M-Score ratings to increase the chances to get new items.</p>
      <p align="center">Happy Planet = Lucky Farmer</p>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="center" vertical="center">
    <ion-fab-button (click)="takePicture()" color="migros">
      <ion-icon name="camera" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-content *ngIf="!isProcessing && receiptContents">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let product of receiptContents; let i = index">
          <ion-thumbnail slot="start">
            <div class="product-thumbnail" [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }"></div>
          </ion-thumbnail>
          <ion-label class="product-row">
            <img class="mcheck-badge" *ngIf="product.animalWelfare" [src]="product.animalWelfare.image" />
            <img class="mcheck-badge" *ngIf="product.carbonFootprint" [src]="product.carbonFootprint.image" />
            <div class="game-box" *ngIf="boxOpened.indexOf(i) === -1" (click)="openBox(i)">
              <ion-button size="small" color="migros" shape="round">Open</ion-button>
            </div>
            <div class="game-box open" *ngIf="boxOpened.indexOf(i) > -1 && !product.hasWon"></div>
            <div class="game-box sapling" *ngIf="boxOpened.indexOf(i) > -1 && product.hasWon === objectType.TREE"></div>
            <div class="game-box calf" *ngIf="boxOpened.indexOf(i) > -1 && product.hasWon === objectType.MEAT"></div>
            <div class="game-box little-fish" *ngIf="boxOpened.indexOf(i) > -1 && product.hasWon === objectType.FISH"></div>
            <div class="game-box seedling" *ngIf="boxOpened.indexOf(i) > -1 && product.hasWon === objectType.WHEAT"></div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
