<ion-content [scrollX]="true" [scrollY]="true" class="grid" (pinch)="onPinch($event)">
  <input class="zoom-slider" type="range" min="1" max="10" [(ngModel)]="zoomLevel"/>
  <app-camera-button class="camera-button"></app-camera-button>
  <app-grid-item
    *ngFor="let item of gridItems, let x = index"
    [positionX]="item.x" [positionY]="item.y"
    [plant]="item.plant"
    [level]="item.level"
    [zoomLevel]="zoomLevel"
    (clicked)="onGridClick($event)"
  ></app-grid-item>
</ion-content>
<app-slide-inventory [selectedItem]="selectedItem" (select)="onSelectItem($event)"></app-slide-inventory>

