.grid {
  overflow: scroll;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #9d9fa6;
}


.zoom-slider {
  position: fixed;
  z-index: 10;
  top: 80px;
  right: 0;
  transform: rotate(-90deg);
}
