<ion-content [scrollX]="true" [scrollY]="true" class="grid">
  <input class="zoom-slider" type="range" min="1" max="10" [(ngModel)]="zoomLevel"/>
  <app-grid-item
    *ngFor="let item of gridItems, let x = index"
    [positionX]="item.x" [positionY]="item.y"
    [plant]="item.plant"
    [level]="item.level"
    [zoomLevel]="zoomLevel"
    (clicked)="onGridClick($event)"
    [moveOperationOngoing]="!!movingItem"
    [seadOperationOngoing]="!!selectedItem"
    [sellOperationOngoing]="sellService.sellMode"
    [isMoving]="!!movingItem && item.x === movingItem.x  && item.y === movingItem.y"
    (startMoving)="onStartMoving($event)"
  ></app-grid-item>
</ion-content>
<app-slide-inventory [selectedItem]="selectedItem" (select)="onSelectItem($event)"></app-slide-inventory>
<app-receipt-button class="camera-button"></app-receipt-button>
<app-sell-button class="sell-button"></app-sell-button>
<app-tutorial-button class="tutorial-button"></app-tutorial-button>
<app-leader-board-button class="leader-board-button"></app-leader-board-button>
