@import "../../../global";

.grid-item {
  position: absolute;
  left: 0;
  height: 64px;
  width: 64px;
  background-image: url("../../../assets/landscape/forest-floor-green.png");
  background-size: cover;
  border: 2px dashed $colorGrayTransparent;
}
