<div
  class="grid-item"
  [ngStyle]="{left: positionX * sizes[zoomLevel] + 'px', top: positionY * sizes[zoomLevel] + 'px', height: sizes[zoomLevel] + 'px',  width: sizes[zoomLevel] + 'px'}"
  >
  <div
    *ngIf="plant"
    class="plant"
    [ngStyle]="{backgroundImage:  'url(../../../assets/items/'+ plant +'-' + level +'.png)'}"
    [ngClass]="{'plant--shaking': isMoving, 'plant--blinking': sellOperationOngoing && level >=5}"
    (click)="onClick($event)">{{plant}} {{level}}</div>
  <div
    *ngIf="moveOperationOngoing || seadOperationOngoing"
    (click)="onClick($event)"
    class="is-moving-target">
  </div>
</div>


