<div
  class="grid-item"
  [ngStyle]="{left: positionX * sizes[zoomLevel] + 'px', top: positionY * sizes[zoomLevel] + 'px', height: sizes[zoomLevel] + 'px',  width: sizes[zoomLevel] + 'px'}"
  (click)="onClick($event)">
  <div
    *ngIf="plant"
    class="plant"
    [ngStyle]="{backgroundImage:  'url(../../../assets/items/'+ plant +'-' + level +'.png)'}"
    [ngClass]="{'plant--shaking': isMoving}"
    (click)="onClick($event)"></div>
  <div
    *ngIf="moveOperationOngoing && !plant"
    class="is-moving-target">
  </div>
</div>

