@import '../../../global';

ion-fab.fab-horizontal-center {
  margin-inline-start: -42px;
}

ion-fab-button {
  width: 84px;
  height: 84px;
}

ion-icon {
  font-size: 48px !important;
  width: 48px;
  height: 48px;
}
