button {
  display: block;
  justify-content: center;
}

.button-style {
  padding-top: 64px;
  text-align: center;
}
 .master{
  background-image: url('../../assets/landscape/background.jpg');
  background-size: cover;
}


